.settings{
  color: #ffffff;
  position: absolute;
  height: 100%;
  width: 300px;
  z-index: 1000;
  background-color: #36D2F0;
  left: -300px;
  
  -webkit-transition: left, 0.1s linear;
  -moz-transition: left, 0.1s linear;
  -ms-transition: left, 0.1s linear;
  -o-transition: left, 0.1s linear;
  transition: left, 0.1s linear;
}
.showSideNav{
  left: 0px !important;
  -webkit-transition: left, 0.1s linear;
  -moz-transition: left, 0.1s linear;
  -ms-transition: left, 0.1s linear;
  -o-transition: left, 0.1s linear;
  transition: left, 0.1s linear;
}

.settings > .header{
	font-size: 18px;
	padding: 10px;
}
.settingsName
{
	border: 0;
	border-bottom: 1px solid #ffffff;
	outline: 0;
	background: transparent;
	margin-left: 10px;
	color: #ffffff;
}
.settingsNotification{
	margin-left: 10px;
}

.settingsSave{
	border-radius: 50%;
    border: 0;
    background-color: #ffffff;
    padding: 5px;
    float: right;
    margin-right: 10px;
	outline: 0;
}
.settingsSave:hover{
	color: #70a0a0;
}


input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: transparent;
    cursor:pointer;
	margin-left: 10px;
}
input[type="checkbox"]:checked + label {
    background:transparent;
}


/* SQUARED THREE */
.notificationSetting {
	width: 20px;
	position: relative;
}

.notificationSetting label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.notificationSetting label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.notificationSetting label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.notificationSetting input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}